.Cuadrado{
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 255, 0.404);
    position:static;
    left: 3000px;
    top: 20000;
}
.circulo{
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.prueba{
    width: 300px;
    height: 1000px;
    background-color: chartreuse;}

 

