.lista a{
    color: rgb(252, 3, 3);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    height: 500px;
    width: 100%;
    text-align: center;

}
section h3{
    color: aliceblue;

}
#Principal{
    background-color: antiquewhite;
}
#Servicios{
    background-color: aquamarine;
}
#About{
    background-color: rgba(255, 127, 80, 0.648);
}
#Contact{
    background-color: rgba(139, 0, 139, 0.792);
}
#Somos{
    background-color: rgba(255, 140, 0, 0.759);
}
footer{
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
    width: 100%;
    height: 100px;
}
