.contenedor{
    background-color: #b1b0b0;
}
.header{
    display: flex;
flex-direction: column;}
/* Primer div padre */
.menu{
    width: 100%;
    height:100px ;
    background-color: rgb(255, 251, 0);
    display: flex;
    align-items:center;
    margin: 0px;
}
.menuhijo{
    top: 20px;
}
.menu .logo{
    height: 100px;
    width: 200px;
   display: flex;
   align-items: center;
}
.menu .logo img{
    height: 150px;
    width: 200px;
}
.menu .buscador{
    background-color: #fefefe;
    width: 550px;
    height: 60px;
}
.buscador{
    display: flex;
    align-items:center;
    border-radius: 5px;
}
.menu .buscador input{
    height:30px;
    width: 500px;
    font-size: 20px; 
    border: 0px;   
}
.menu .buscador .lineavertical{
    background-color: rgba(0, 0, 0, 0.211);
    height: 30px;
}
.menu .buscador img{
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-left: 5px;
}
/*segundoMenu*/
.segundoMenu{
    background-color: rgb(255, 251, 0) ;
    height: 30px;
    margin-top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.listas{
    width: 400px;

}
.segundoMenu ul{
    list-style: none;
    display:inline-flex;
    margin-left: 30px;
}
.segundoMenu ul li a{
    text-decoration: none;
    margin: 10px;
    color: #b1b0b0;
}

.segundoMenu  .listdos img{
    width: 20px;
    height: 20px;
}
.carrusel{
    width: 100%;
    height: 300px;
}
.carrusel img{
    width: 100%;
    height: 300px;
}
/*Pagos*/
.Pagos1{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 50px;
}
.Pagos1Hijo{
    height: 70px;
    width: 300px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px #00000039;
    display: flex;  
    align-content: center;
    justify-content: center;
   
}
.imagenlogo{
    display: flex;
   align-items: center;
    justify-content:center;
    border: 1px solid #000;
    width: 50px;
    height: 70px;
}
.Texto{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 70px;
    margin: 0px;
    margin-left: 10px;
   
   
}
.hijotexto{
    height: 40px;
}
.hijotexto a{
    text-decoration: none;
}


.Pagos1 .Pagos1Hijo .imagenlogo{
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 1px solid #00000060;
}
.Pagos1 .Pagos1Hijo .imagenlogo img{
    height: 40px;
    width: 40px;
}
/*sudtitulos*/
.sudtitulos{
    display: flex;
    width: 80%;
    margin-left: 50px;
    text-align: center;
}

.productos{
    display: flex;
    width: 90%;
    margin-left: 50px;
    justify-content: space-between;
    
}
.producto{
    width: 200px;
    height: 300px;
    border:1px solid #0000000f;
    box-shadow: 1px 1px 1px 1px #0000003e;
    border-radius: 10px;
    margin-left: 50px;
}
.producto .imgCard img{
    width: 150px;
    height: 200px;
}
hr{
    background-color: #00000026;
    height: 1px;
    width: 150px;
}
.Descripcion{
    display: flex;
    flex-direction: column;
}
.PrecioUno{
    display: flex;
    align-items: center;   
     height:20px;
}

.precio2{height: 20px;
text-align:justify;}
.precio3{
    display: flex;
    flex-direction: column;
    text-align:justify;
    
}
.precio3 h4{height: 5px;
}
/*promo*/
.promo{display: flex;
    width: 90%;
    margin-left: 50px;
    justify-content: space-between;}

/*puntos*/
.puntos{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 90%;
    margin-left: 60px;
   
}

.tituloPuntos{
    display: flex;
    color: #fefefe;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 0px 0px 0px #00000060;
    background: rgb(148,16,123);
    background: linear-gradient(90deg, rgba(148,16,123,1) 34%, rgba(16,19,148,1) 91%);;
}
.tituloP{
    margin-left: 20px;
}
.tituloDerecho{
    width: 30%;
}
.tituloDerecho{
    display: flex;
  justify-content: end;
  width: 70%;
}
.puntos .tituloPuntos .lineavertical{
    background-color: rgba(0, 0, 0, 0.211);
    height: 80px;
    width: 1px; 
}
.precioTituloDerecho{
    margin-left: 20px;
}
.BeneficiosPuntos{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px #00000060;
    height: 200px;

}
.BeneficiosPuntos h3{
    margin-left: 30px;
}
.combos{}
.tiendas{}
.sugerencia{}
.coleccion{}
.categoria{}
.pagos{}
.info{}